.navbar-lewagon-dark .nav-item-circular .nav-link, .navbar-lewagon .nav-item-circular .nav-link {
  color: rgba( 255, 255, 255, 0.6);
  border-bottom: 1px solid transparent;
  transition: .3s;
}
.navbar-lewagon-dark .nav-item-circular .nav-link:hover, .navbar-lewagon .nav-item-circular .nav-link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: .5s;
}

.navbar-lewagon-black {
  background: #2F303A;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}


#home-header {
  font-size: 50px;
}

// dark navbar for all views except home
.navbar-lewagon-dark {
  background: #2F303A;
  justify-content: space-between;
  transition: .5s;
}

.navbar-lewagon-dark .navbar-brand img {
  width: 150px;
}

.navbar-lewagon-dark .navbar-collapse {
  flex-grow: 0;
}