.nav-item-circular > a {
  color: white !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  transition: background-color 0.3s ease !important;
}
.nav-item-circular:hover > a:hover {
    color: white !important;
    background-color: #FD9F9F !important;
    border-radius: 10px !important;
    transition: background-color 0.3s ease !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: .5s;
}

.navbar-lewagon-black {
  background: #2F303A;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}


#home-header {
  font-size: 50px;
}


#green {
color: white;
}

