.new-item-container {
    height: 100vh;
}

.circular-form {
    margin-top: 100px !important;
}

.circular-form-new-booking {
    height: 100vh;
}

.circular-button {
    border-radius: 10px;
    background: #5A92FE;
    color: white;
    text-align: center;
    border-color: transparent !important;
}
