#search {
    // width: 80%;
    // padding: 7px;
    // border-radius: 1px solid #1d8394;
    // border-radius: 5px 5px 5px 5px;
    border-radius: 10px;
}

#submit{
    border-radius: 10px;
    background: #5A92FE;
    color: white;
    text-align: center;
    border-color: transparent !important;
    // border-radius: 0px 5px 5px 0px;
    // border: 1px solid #4B88FE;
    // margin-left: -10px;
    // cursor: pointer;
    // width: 85px;
}

// #submit:active {
//     background: #346290;
//     // transition: all 0,30s;
//     border: #4B88FE;
//     // padding: 0.375rem 0.75rem;
// };
// #submit:hover {
//     background: #346290;
//     // transition: all 0,30s;
//     border: #4B88FE;
//     // padding: 0.375rem 0.75rem;
// };

.circular-searchbar {
    max-width: 50%;
    margin-left: 25%;
}

.circular-searchbar input {
    height: 48px;
}

.form-control {
    border-radius: 10px;
    // width: 80%;
}

.search-btn-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -90px;
}
.search-btn-container input {
    height: 48px;
}

.search-btn-container input:active {
    height: 48px;
}

